*{
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar{
    display: none;
}

#general{
    background: whitesmoke;
}

header{
    position: sticky;
    top: 0;
    background: #000;
    display: flex;
    place-items: center;
    justify-content: space-between;
}

#logo-name{
    display: flex;
    place-items: center;
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}

header img{
    width: 100px;
    margin: 10px 0;
}

nav{
    display: flex;
    margin-right: 80px;
}

#as-box a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 20px;
}

#langs{
    position: fixed;
    right: 20px;
    top: 15px;
    display: flex;
    flex-direction: column;
    place-items: center;
}

#langs a{
    padding: 0 10px;
    display: flex;
    text-decoration: none;
    color: white;
    border-bottom: solid 1px black;
}

#hovr{
    margin-top: 30px;
    display: none;
    place-items: center;
}

#l-uzb{
    border: solid 1px white;
}

#l-rus{
    border: solid 1px white;
    margin-bottom: 5px;
}

#l-eng{
    background-color: grey;
}

#l-uzb:hover{
    background-color: grey;
}

#l-rus:hover{
    background-color: grey;
}

#langs img{
    width: 30px;
    margin: 10px;
    background: black;
    border-radius: 100px;
}

#langs:hover >  #hovr{
    display: block;
}

#langs:hover{
    background: #000;
}

#main{
    background-image: url(../../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 30vh;
}

#main div{
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 100px red;
    border-radius: 10px;
    margin: 0 150px;
    padding: 10px 0;
}

#main h1{
    color: white;
    font-size: 100px;
}

#main p{
    font-size: 20px;
    color: white;
}

section{
    background-image: url(../../images/bg2.jpg);
    background-position: center;
    background-size: cover;
    padding: 20vh 0 20px 0;
}

#info{
    display: flex;
    margin: 0 100px 50px 100px;
    background: black;
    padding: 20px;
    border: solid 2px white;
    border-radius: 20px;
    transition: .5s;
}

#info img{
    width: 300px;
    border: solid 2px black;
    border-radius: 20px;
}

#info div{
    display: grid;
    margin: 10px 20px;
}

#info div h1{
    color: white;
}

#info div p{
    color: white;
}

footer{
    padding: 20px 0;
    background: black;
    text-align: center;
}

footer img{
    width: 40px;
}

footer a{
    margin: 0 5px;
}

#s-contact{
    margin-top: 20px;
}

footer p{
    color: white;
    font-size: 20px;
}